src/main/mule/sbi-bank-restful-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="sbi-bank-restful-api-main">
        <http:listener config-ref="sbi-bank-restful-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="sbi-bank-restful-api-config" />
    </flow>
    <flow name="get:\accounts:sbi-bank-restful-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="c39ac1d3-d6da-4027-aa17-27feefd0f9f8" name="GetAcoountflow" />
    </flow>
    <flow name="post:\accounts:application\json:sbi-bank-restful-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="ae74c3a7-7439-4cdb-b477-99ac63787424" name="postaccountflow" />
    </flow>
    <flow name="post:\customers:application\json:sbi-bank-restful-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="c9882c5b-574a-4018-888d-1cba68b5afc7" name="postcustomerflow" />
    </flow>
</mule>
